<p style="color: green"><%= notice %></p>

<%= render @etiquetum %>

<div>
  <%= link_to "Edit this etiquetum", edit_etiquetum_path(@etiquetum) %> |
  <%= link_to "Back to etiqueta", etiqueta_path %>

  <%= button_to "Destroy this etiquetum", @etiquetum, method: :delete %>
</div>
